<div class="container-fluid">
  <div class="row">
    <div class="col-5 mt-5">
      <div class="text-start pt-4" >
        <div class="ps-4 pb-4">
          <h5><a [routerLink]="['/forgot-password']" class="link" style="cursor: pointer;">
            <i class="fa-solid fa-circle-arrow-right"></i>  الرجوع</a></h5><br>
        </div>
        <div class="ps-4 pb-4 ">
          <strong>لقد تم إرسال رمز التحقق الى بريددك الإلكتروني</strong>
        </div>
      </div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="mt-5 pt-5">
        <!-- <input type="email" formControlName="email" placeholder="Enter your email"> -->
        <div class="input-group mb-3 d-flex justify-content-center">
          <input type="text" id="code" formControlName="email" class="form-control my-2 border"
            [ngClass]="{'border-danger': resetPasswordForm.get('email').invalid && resetPasswordForm.get('email').touched}"
            placeholder="ادخل بريدك الالكتروني" />
        </div>
        <!-- <input type="text" formControlName="code" placeholder="Enter reset code"> -->
        <div class="input-group d-flex justify-content-center">
          <input type="text" id="code" formControlName="code" class="form-control my-2 border"
            [ngClass]="{'border-danger': resetPasswordForm.get('code').invalid && resetPasswordForm.get('code').touched}"
            placeholder="أدخل رمز التحقق" />
        </div>
        <div class="input-group">
          <input type="password" id="password" placeholder="كلمة المرور" formControlName="password"
            class="form-control border mt-4 mx-auto"
            [ngClass]="{'border-danger': resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched}">
          <span *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched"
            class="help-block text-danger" style=" margin-right: 15%;">كلمة المرور مطلوبة </span>
        </div>

        <div class="input-group">
          <input type="password" id="c_password" placeholder="تأكيد كلمة المرور" formControlName="c_password"
            class="form-control border mt-4 mx-auto"
            [ngClass]="{'border-danger': resetPasswordForm.get('c_password').invalid && resetPasswordForm.get('c_password').touched}">
          <span
            *ngIf="resetPasswordForm.get('c_password').errors?.['required'] && resetPasswordForm.get('c_password').touched"
            class="help-block text-danger" style=" margin-right: 15%;">يجب تأكيد كلمة المرور</span>
          <span
            *ngIf="resetPasswordForm.get('c_password').errors?.['mustMatch'] && resetPasswordForm.get('c_password').touched"
            class="help-block text-danger" style=" margin-right: 15%;">كلمة المرور وتأكيدها لا يتطابقان</span>
        </div>
        <div class="my-2 text-center">
          <button type="submit" class="btn btn-primary ps-3 pt-2 btn-custom">
            إعادة تعيين
          </button>
        </div>
      </form>



    </div>
    <div class="col-7 p-0 position-relative">
      <div class="position-absolute">
        <img src="../../../assets/auth/login.svg">
      </div>
    </div>
  </div>
</div>
