<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <div class="ps-4 pt-4">
        <h5><a [routerLink]="['/login']" class="link" style="cursor: pointer;">
          <i class="fa-solid fa-circle-arrow-right"></i>  الرجوع</a></h5><br>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">

        <h2 class="mb-5 pt-3 fw-bold text-center">إعادة تعيين كلمة المرور</h2>
        <p class="text-center"><strong>ادخل البريد الالكتروني المراد تغيير كلمة مروره</strong></p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetCode()">
          <div class="input-group mb-3 d-flex justify-content-center">
            <input type="text" id="code" formControlName="email" class="form-control my-2 border"
              [ngClass]="{'border-danger': forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched}"
              placeholder="ادخل بريدك الالكتروني" />
            <div class="ps-3 pt-2 d-flex justify-content-center">
              <button type="submit" class="btn btn-primary ps-3 pt-2 btn-custom">
                إرسال
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-7 p-0 position-relative">
      <div class="position-absolute">
        <img src="../../../assets/auth/login.svg">
      </div>
    </div>
  </div>
</div>
