<footer class="mt-5 align-items-end">
<div class="container-fluid pt-5 px-5">
    <div class="row">
        <div class="col-md-4 me-auto">
            <h5 class="fw-bold">تواصل معنا</h5>
            <p class="text-muted"><span class="fw-bold text-dark">الإيميل: </span>freelaancewebsite@gmail.com</p>
            <p class="text-muted"><span class="fw-bold text-dark">رقم الهاتف: </span>0935433919</p>
            <p class="text-muted"><span class="fw-bold text-dark">الموقع: </span>خدمات عن بعد في جميع أنحاء العالم  </p>
        </div>
        <div class="col-md-4">
            <h5 class="fw-bold">انتقل إلى: </h5>
            <ul class="list-unstyled">
                <li><a class="nav-link text-muted fw-bold" [routerLink]="['/']">خدماتك</a></li>
                <li><a class="nav-link text-muted fw-bold" [routerLink]="['/services']">الخدمات</a></li>
                <li><a class="nav-link text-muted fw-bold" [routerLink]="['/about-us']">من نحن</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5 class="fw-bold">تابعنا على: </h5>
            <a href="#" class="me-3"><i class="fa-brands fa-facebook-f fs-4"></i></a>
            <a href="#" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
            <a href="#" class="me-3"><i class="fa-brands fa-linkedin-in fs-4"></i></a>
            <a href="#" class="me-3"><i class="fa-brands fa-x-twitter fs-4"></i></a>
        </div>
        <div class="text-right mt-3">
            <p class="text-muted fw-bold">خدماتك.جميع الحقوق محفوظة 2025 ©</p>
        </div>
    </div>
</div>
</footer>